
#main {
	height: 100vh;
	width: 100%

}


.img {
	height: 70%;
	width: 75%;

}

.img-content{
	color: black;

}

#row1, #row2, #row3 {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

#home {
	font-size: 30px;
	display: flex; 
	align-items: center;
	justify-content: center;

}
